<?xml version="1.0"?>
<launch>
  <node type="point_cloud2_assembler" pkg="laser_assembler" name="point_cloud_assembler">
    <remap from="cloud" to="/mid/points"/>
    <param name="max_clouds" type="int" value="20" />
    <param name="fixed_frame" type="string" value="odom" />
  </node>

  <node pkg="jackal_helper" type="thick_cloud_node.py" name="thick_cloud_provider" output="screen" />

  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/thick_cloud" />
    <remap from="~output" to="/thick_cloud_voxel" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.02
      filter_limit_max: 2.0
      filter_limit_negative: False
      leaf_size: 0.005
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="cluster_extraction" args="load jsk_pcl/EuclideanClustering pcl_manager" output="screen">
    <remap from="~input" to="/thick_cloud_voxel" />
    <remap from="~output" to="/euclidean_clusters" />
    <rosparam>
      tolerance: 0.1
      min_size: 200
      max_size: 200000
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="bounding_box" args="load jsk_pcl/ClusterPointIndicesDecomposer pcl_manager" output="screen">
    <remap from="~input" to="/thick_cloud_voxel" />
    <remap from="~target" to="/euclidean_clusters" />
    <remap from="~debug_output" to="/coloured_clusters" />
    <remap from="~boxes" to="/bounding_boxes" />
  </node>
</launch>